.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    margin-right: 10px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}